[Unit]
Description=Monitor Git Repo and Restart Arma 3 Server on Changes

[Service]
Type=oneshot
User=root
ExecStart=/home/arma/Kranich_Arma3Server/git-monitor.sh
